.books
{
height:2500px;
width:1340px;
margin-left:auto;
margin-right:auto;
background-color:#0099FF;
}
.books_head
{
height:400px;
width:1340px;
}
.books_headcontent
{
height:50px;
width:1340px;
background-color:#CC3300;
font-style:oblique;
font-size-adjust:inherit;
font-stretch:expanded;
}
.books_headimages
{
height:300px;
width:1340px;
}
