.contents
{
height:1400px;
width:1340px;
margin-left:auto;
margin-right:auto;
background-color:#0099CC;
}
.head
{
height:50px;
width:1340px;
float:inherit;
background-color:#CC0099;
font-size:24px;
font-stretch:expanded;
}
.intern
{
height:150px;
width:1340px;
}
.intern_img
{
height:100px;
width:340px;
float:left;
}
.intern_content
{
height:100px;
width:900px;
float:right;
}
.intern_content p
{
font:small;
font-size:18px;
float:right;
}
.inplant
{
height:150px;
width:1340px;
}
.inplant_img
{
height:100px;
width:340px;
float:left;
}
.inplant_content
{
height:100px;
width:900px;
float:right;
}
.inplant_content p
{
font:small;
font-size:18px;
float:right;
}
.books
{
height:150px;
width:1340px;
}
.books_img
{
height:100px;
width:340px;
float:left;
}
.books_content
{
height:100px;
width:900px;
float:right;
}
.books_content p
{
font:small;
font-size:18px;
float:right;
}
.project
{
height:150px;
width:1340px;
}
.project_img
{
height:100px;
width:340px;
float:left;
}
.project_content
{
height:100px;
width:900px;
float:right;
}
.project_content p
{
font:small;
font-size:18px;
float:right;
}
.courses
{
height:150px;
width:1340px;
}
.courses_img
{
height:100px;
width:340px;
float:left;
}
.courses_content
{
height:100px;
width:900px;
float:right;
}
.courses_content p
{
font:small;
font-size:18px;
float:right;
}
.workshop
{
height:150px;
width:1340px;
}
.workshop_img
{
height:100px;
width:340px;
float:left;
}
.workshop_content
{
height:100px;
width:900px;
float:right;
}
.workshop_content p
{
font:small;
font-size:18px;
float:right;
font-style:inherit;
}
.pl
{
height:150px;
width:1340px;
}
.pl_img
{
height:100px;
width:340px;
float:left;
}
.pl_content
{
height:100px;
width:900px;
float:right;
}
.pl_content p
{
font:small;
font-size:18px;
float:right;
}
.coding
{
height:150px;
width:1340px;
}
.coding_img
{
height:100px;
width:340px;
float:left;
}
.coding_content
{
height:100px;
width:900px;
float:right;
}
.coding_content p
{
font:small;
font-size:18px;
float:right;
}
.forum
{
height:150px;
width:1340px;
}
.forum_img
{
height:100px;
width:340px;
float:left;
}
.forum_content
{
height:100px;
width:900px;
float:right;
}
.forum_content p
{
font:small;
font-size:18px;
float:right;
}