.forum
{
height:1300px;
width:1340px;
margin-left:auto;
margin-right:auto;
background-color:#0099FF;
}
.forum_head
{
height:300px;
width:1340px;
}
.forum_content
{
height:1000px;
width:1000px;
margin:auto;
}
