.project
{
height:1300px;
width:1340px;
margin-left:auto;
margin-right:;
background-color:#0099FF;
}
.head
{
height:300px;
width:1340px;
}
.proj_content
{
height:1000px;
width:1000px;
margin-left:auto;
margin-right:auto;
align:center;
}
